   <form>

    <p>Test</p>

    <label>
    <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img src="/icons/grinning.png"/>
      </label>

      <label>
      <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img src="/icons/smiling.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img src="/icons/pensive.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice"/>
      </span>
      <img src="/icons/sleepy.png"/>
      </label>
      </form>