   <section class= "container">
<nav>
  <ul>
    <li class="brand"><img class="logo" src="/icons/tealogo.png"><strong>TranquliTea</strong></li>
  </ul>
</nav>
<form>

   <div class="tagline"> <p>Choose the emoji that matches your mood closest. Keep a daily log of your selections and subsequent journal entries to track your moods and mental health!</p></div>
    <div class="content">
  <div class="radio-toolbar">
    
<input type="radio" id="happier" name="val" value="happier"/>
<label for="happier"><img id="small" class="mood" src="/icons/grinning.png"/></label>


<input type="radio" id="happy" name="val" value="happy"/>
<label for="happy"><img id="small" class="mood" src="/icons/smiling.png"/></label>

<input type="radio" id="bummed" name="val" value="bummed"/>
<label for="bummed"><img id="small" class="mood" src="/icons/pensive.png"/></label> 

<input type="radio" id="sad"  name="val" value="sad"/>
<label for="sad"><img id="small" class="mood" src="/icons/sleepy.png"/></label> 
  </div>
  <br/><br/><br/><br/>
  <button type="submit">Confirm Selection</button>
</div>
      </form>
<section class="journal">
<div class="user-text">Spill the tea! 
    <input class="user-input" type="text" placeholder= "Type here to let us know how you really feel" /></div>
    <br/>
    <button type="submit">Submit</button>
   </section>
{{!-- 
    <label>
    <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/grinning.png"/>
      </label>

      <label>
      <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/smiling.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/pensive.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice"/>
      </span>
      <img id="small" class="mood" src="/icons/sleepy.png"/>
      </label> --}}
      