   <form>

    <p>Choose the emoji that matches your mood closest...</p>

    <label>
    <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/grinning.png"/>
      </label>

      <label>
      <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/smiling.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/pensive.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice"/>
      </span>
      <img id="small" class="mood" src="/icons/sleepy.png"/>
      </label>
<br/>
    <input class="journal" type="text" placeholder= "Tell us how you feel" />
      </form>