   <form>

   <div class="tagline"> <p>Choose the emoji that matches your mood closest</p></div>
    <div class="content">
  <div class="radio-toolbar">
    
<input type="radio" id="happier" name="val" value="happier" checked/>
<label for="happier"><img id="small" class="mood" src="/icons/grinning.png"/></label>


<input type="radio" id="happy" name="val" value="happy"/>
<label for="happy"><img id="small" class="mood" src="/icons/smiling.png"/></label>

<input type="radio" id="bummed" name="val" value="bummed"/>
<label for="bummed"><img id="small" class="mood" src="/icons/pensive.png"/></label> 

<input type="radio" id="sad"  name="val" value="sad"/>
<label for="sad"><img id="small" class="mood" src="/icons/sleepy.png"/></label> 
  </div>
</div>
      </form>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="journal">
    <input type="text" placeholder= "Tell us how you feel" /></div>
{{!-- 
    <label>
    <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/grinning.png"/>
      </label>

      <label>
      <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/smiling.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice" />
      </span>
      <img id="small" class="mood" src="/icons/pensive.png"/>
      </label>

      <label>
       <span class="radio-wrapper">
        <input type="radio" name="mood-choice"/>
      </span>
      <img id="small" class="mood" src="/icons/sleepy.png"/>
      </label> --}}
      