<main class= "container">
<nav>
  <ul>
    <li class="brand"><img class="logo" src="/icons/tealogo.png"><strong>TranquliTea</strong></li>
  </ul>
</nav>

<form class="grid" class="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <br/>
        <button class="login-button" type="submit">login</button>
    </div>
</form>

<form class="signup-form">
    <br/>
    <div><p>Sign Up Here!</p></div>
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>
</main>
<script src="/javascript/login.js"></script>